# dependencies
node_modules

# turborepo
.turbo

# production
build
dist

# misc
.DS_Store
.env
!.env.dev
assets

# next.js
.next
out

# editors
.idea
.vscode

# eslint
.eslintcache

# typescript
*.tsbuildinfo
# TypeScript build artifacts for config files
**/vite.config.js
**/vite.config.d.ts
**/vite.config.d.ts.map

*.zip
.aider*